@font-face {
    font-family: mBold;
    src: url(../font/Merienda/Merienda-Bold.ttf);
}
@font-face {
    font-family: mReg;
    src: url(../font/Merienda/Merienda-Regular.ttf);
}
#smile1{
    background-image: url(/img/smile1.png);
    background-repeat: no-repeat;
    BACKGROUND-POSITION: center;
    background-size: 300px 300px;
    height: 100vh;
}
.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
body{
   font-family: mBold; 
   overflow: hidden; 
}

.smileNclick{
    font-size: 25px;
    font-family: mBold;
    margin-top: 25px;
}

.txtCentered {
  display:table;  
  position: fixed;
  top: 66%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.imgPos {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
pre {
    white-space: pre-wrap;
    display: block;
    padding: 9.5px;
    font-family: mBold;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (max-width: 1199px) {
    .height100{
        height: 50vh;
    }
    .txtPos {
        position: relative;
        top: 10%;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 1200px) {
    .height100{
        height: 100vh;
    }
     .txtPos {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}
