@font-face {
    font-family: mBold;
    src: url(../font/Merienda/Merienda-Bold.ttf);
}
@font-face {
    font-family: mReg;
    src: url(../font/Merienda/Merienda-Regular.ttf);
}
#smile1{
    background-image: url(/img/smile1.png);
    background-repeat: no-repeat;
    BACKGROUND-POSITION: center;
    background-size: 300px 300px;
    height: 100vh;
}
.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
body{
   font-family: mReg; 
}
