<div class="centered">
    <img class="img-responsive" src="img/smile1.png" height="300" width="300" ng-click="redirectToPage2()">
</div>
<div class="text-center smileNclick txtCentered" id="typed">.</div>

<script>
	$("#typed").typed({
		strings: ["Smile '&amp;' Click me \u0021\u0021\u0021"],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1500,
		showCursor: false,
		// character for cursor
		cursorChar: "|",
	});
	
</script>
