<div class="centered">
    <img src="img/smile1.png" height="300" width="300">
    <div class="text-center smileNclick" id="typed">.</div>
</div>

<script>
$(function(){
	$(".typed").typed({
		strings: ["Smile & Click me !!!"],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1500,
		
		showCursor: false,
		// character for cursor
		cursorChar: "|",
		
	});
	alert("chal gaya");
});
</script>
