<div class="row">
    <div class="col-lg-6 col-lg-offset-1 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-1 col-sm-offset-1 height100">
    <img class="img-responsive imgPos" src="img/storyPic1.jpg">
    </div>
    <div class="col-lg-4 col-lg-offset-1 col-md-10 col-sm-10 col-xs-10 col-xs-offset-1 col-md-offset-1 col-sm-offset-1 height100">
        <div id="typed" class="imgPos"></div>
    </div>
</div>

<script class="ng-scope">
	$("#typed").typed({
		strings: [`<pre>
			  Hey Vaishali,
				Today on the Occassion of 
			</pre>`],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1500,
		showCursor: false,
		// character for cursor
		cursorChar: "|",
	});
	
</script>
