<div class="row starBkStyle">
    <div class="starBkOverlayStyle">
	    <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-5 col-lg-offset-6 fullHeight">
		    <div class="starBkTxtPos" id="typed"></div>   
	    </div>
    </div>
</div>


<script class="ng-scope">
	$("#typed").typed({
		strings: [`<div>Aman Jain</div>`],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1500,
		showCursor: false,
		// character for cursor
		cursorChar: "|",
	});
	
</script>
