<div class="row ng-scope" style="
    /* margin-top: 15%; */
    display: block;
    background-image: url(img/starBks_mob.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 100vh; */
    background-size: cover;
    /* background-color: #000; */
">
    <div class="" style="height: 100vh;/* width: 100vh; */background-color: #000;opacity: .5;font-size: 145px;/* word-wrap: break-word; */overflow: hidden;color: #FFF;"> Aman Jain sdfdf adfdf dfdsfsd sdfsdf sdfsdf
    <img src="img/starBks.jpg" class="img-responsive" style="
    /* position: fixed; */
    /* margin-top: 15%; */
    display: none;
">
    </div>
    <div class="col-md-4 col-sm-4 col-xs-10 col-xs-offset-2 col-md-offset-01 col-sm-offset-1">Aman Jain
    </div>
</div>


<script class="ng-scope">
	$("#typed").typed({
		strings: [`<pre>
Hey Vaishali,
	Today on the occassion of our first Valentine's Day, let me take to you the memory lane to relive the memories we have created till now...</pre>`],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1500,
		showCursor: false,
		// character for cursor
		cursorChar: "|",
	});
	
</script>
