<div class="row starBkStyle">
    <div class="starBkOverlayStyle">
	    <div class="col-xs-10 col-xs-offset-1" id="typed">
	    </div>
    </div>
</div>


<script class="ng-scope">
	$("#typed").typed({
		strings: [`<div>Aman Jain</div>`],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 1500,
		showCursor: false,
		// character for cursor
		cursorChar: "|",
	});
	
</script>
