<div class="centered" ng-controller="ctrlSlide3">
    <img class="img-responsive" src="img/smile4.jpg" height="300" width="500" ng-click="redirectToPage5()">
</div>
<div class="text-center smileNclick txtCentered" id="typed">.</div>

<script>
	$("#typed").typed({
		strings: [" Perfect !!! "],
		// Optionally use an HTML element to grab strings from (must wrap each string in a <p>)
		stringsElement: null,
		// typing speed
		typeSpeed: 30,
		// time before typing starts
		startDelay: 2000,
		showCursor: false,
		// character for cursor
		cursorChar: "|",
	});
	
</script>
