
<style>
html { height: 100%; }

body {
  background-color: #add8df;
  overflow: hidden;
}

.images { cursor: pointer; }

@media screen and (min-width: 768px){
.image:nth-child(4) {
  -moz-transform: rotate(10deg) translateX(50px);
  -ms-transform: rotate(10deg) translateX(50px);
  -webkit-transform: rotate(10deg) translateX(50px);
  transform: rotate(10deg) translateX(50px);
}

.image:nth-child(3) {
  -moz-transform: rotate(3deg) translateX(75px);
  -ms-transform: rotate(3deg) translateX(75px);
  -webkit-transform: rotate(3deg) translateX(75px);
  transform: rotate(3deg) translateX(75px) translateY(10px);
}

.image:nth-child(2) {
  -moz-transform: rotate(-2deg) translateX(-50px);
  -ms-transform: rotate(-2deg) translateX(-50px);
  -webkit-transform: rotate(-2deg) translateX(-50px);
  transform: rotate(-2deg) translateX(-50px);
}

.image:first-child {
  -moz-transform: rotate(-8deg) translateX(-75px) translateY(-10px);
  -ms-transform: rotate(-8deg) translateX(-75px) translateY(-10px);
  -webkit-transform: rotate(-8deg) translateX(-75px) translateY(-10px);
  transform: rotate(-8deg) translateX(-75px) translateY(-10px);
}
}

.image {
  position: absolute;
  top: 40%;
  left: 50%;
  height: 330px;
  width: 330px;
  margin-top: -110px;
  margin-left: -165px;
  border: 5px solid #fff;
  border-bottom-width: 15px;
  -moz-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
  z-index: 2;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 767px){
.image:first-child {
  -moz-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.image:nth-child(2) {
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.image:nth-child(3) {
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.image:nth-child(4) {
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}

.image:last-child {
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
}
.image.slide-right {
  -moz-transform: rotate(290deg) translateX(250px);
  -ms-transform: rotate(290deg) translateX(250px);
  -webkit-transform: rotate(290deg) translateX(250px);
  transform: rotate(290deg) translateX(250px);
}

.image.slide-left {
  -moz-transform: rotate(-290deg) translateX(-250px);
  -ms-transform: rotate(-290deg) translateX(-250px);
  -webkit-transform: rotate(-290deg) translateX(-250px);
  transform: rotate(-290deg) translateX(-250px);
}

.image.back { z-index: 1; }
h1 { margin:150px auto 30px auto; text-align:center;}
</style>

<div  ng-controller="ctrlSlide6">
<div class='images'> 
<img class='image' src='img/1.jpg'> 
<img class='image' src='img/2.jpg'>
<img class='image' src='img/3.jpg'>
<img class='image' src='img/4.jpg'>
<img class='image' src='img/5.jpg'>
<img class='image' src='img/6.jpg'>
<img class='image' src='img/7.jpg'>
<img class='image' src='img/8.jpg'>
<img class='image' src='img/9.jpg'>
<img class='image' src='img/10.jpg'>
<img class='image' src='img/11.jpg'>
<img class='image' src='img/12.jpg'>
<img class='image' src='img/13.jpg'>
<img class='image' src='img/14.jpg'>
<img class='image' src='img/15.jpg'>
<img class='image' src='img/16.jpg'>
<img class='image' src='img/17.jpg'>
<img class='image' src='img/18.jpg'>	
<img class='image' src='img/19.jpg'>
<img class='image' src='img/20.jpg'>
</div>

 <div class="loaderDiv" ng-hide="showLoader">
     <input id="toggle-heart" type="checkbox"/>
     <label class="txtCentered" style="top:45%" for="toggle-heart">❤</label>
  </div>
</div>  
   
<script>
  setInterval(function(){  
	if(document.getElementById("toggle-heart").checked){
		document.getElementById("toggle-heart").checked = false;
	}else{
		document.getElementById("toggle-heart").checked = true;
	}
	 
}, 1000);
  </script>

<script>
setTimeout(function(){ 
	var cssTransition, imageOffset, imageWidth, images, queue, timeout, touch;

  cssTransition = function() {
    var body, i, len, style, vendor, vendors;
    body = document.body || document.documentElement;
    style = body.style;
    vendors = ['Moz', 'Webkit', 'O'];
    if (typeof style['transition'] === 'string') {
      return true;
    }
    for (i = 0, len = vendors.length; i < len; i++) {if (window.CP.shouldStopExecution(1)){break;}
      vendor = vendors[i];
      if (typeof style[vendor + 'Transition'] === 'string') {
        return true;
      }
    }
window.CP.exitedLoop(1);

    return false;
  };

  queue = false;

  touch = document.documentElement['ontouchstart'] !== void 0;

  images = document.querySelector('.images');

  imageWidth = images.firstElementChild.offsetWidth;

  imageOffset = images.firstElementChild.offsetLeft;

  timeout = cssTransition() ? [500, 700] : [0, 0];
count = 0;	
  setInterval(function(){ 
  if(count < 20 ){
	count++;
	var direction, lastClassList;
    if (queue) {
      return;
    }
    queue = true;
    lastClassList = images.lastElementChild.classList;
    lastClassList.add('slide-left');
    return setTimeout(function() {
      lastClassList.remove('slide-left');
      lastClassList.add('back');
      return setTimeout(function() {
        images.insertBefore(images.lastElementChild, images.firstElementChild);
        lastClassList.remove('back');
        return queue = false;
      }, timeout[0]);
    }, timeout[1]);
  }else if(count == 20){
  	window.location.assign("http://www.amanwedsvaishali.in/#!/story9");
  }
}, 6000);  	     
}, 10000);	


</script>



